body {
	background: #eee;
  font-family: "Nunito SemiBold";  
}

#main h1{
  color: #444;
  text-align: center;
}
#main{
  padding:0px;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
}
#book-list{
  padding:0px;
}
#book-list li{
  display: inline-block;
  margin:12px;
  padding:10px 10px 1px 0px;
  border-radius:4px;
  border:1px solid #880E4F;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  color: #880E4F;
}
#book-list li .book_item{
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
}
#book-list .active{
  background-color: #880E4F;
  color:#fff;
}
form{
  background: #fff;
  padding: 10px 20px 30px;
  position: fixed;
  left: 0;
  bottom:20px;
  width: 400px;
}
form .input_field{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 10px;
}
form label{
  text-align: right;
  padding:6px;
  font-size: 13px;
}
form input, form select{
  margin: 4px 0;
  padding: 6px;
  box-sizing: border-box;
}

.sub_btn{
  color: #fff;
  font-size: 2em;
  background: #AD1457;
  border:0;
  padding:0 10px;
  border-radius:50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
  outline: none;
}

#book-details{
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background:#AD1457;
  /*background:#eee;*/
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0,0,0.3);
  box-sizing:border-box;
  color: #fff;
  padding-left: 20px;
  padding-top: 10px;
}
.err_msg{
  color: red;
  font-size: 13px;
  text-align: right;
}

#add-author{
    background: #fff;
    width: 287px;
    position: fixed;
    bottom: 20px;
    left: 570px;
    padding: 10px 20px 69px;
}

.close_btn{
color: red;
float: right;
right: 0;
position: relative;
border: 1px solid red;
margin-left: 15px;
font-size: 12px;
padding: 5px 9px;
border-radius: 12px;
bottom: 3px;
cursor: pointer;
}